/* Whole thing */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  /* max-width: 1440px;
  
  padding: 2rem; */
  margin: 0 auto;
  text-align: center;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Header */

.nav-bar {
  width: 100%;
  background-color: rgba(33, 53, 71, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.7rem;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(129, 133, 137, 0.6);
}

.nav-bar-logged-in {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 30%;
  max-width: 525px;
}

/* main */

.main {
  position: relative;
  top: 4.7rem;
}

#count {
  background-color: #ed2020;
  border-radius: 50%;
  color: #f9f9f9;
  font-size: 0.8rem;
  width: 15px;
  height: 15px;
  padding: 0.07rem 0.28rem 0.07rem;
  position: relative;
  top: -1.1rem;
  left: 0.25rem;
}

/* User Tooltip */

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-box {
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  top: 0%;
  left: 0;
  transform: translateX(-100%) translateY(1.2em);
}

.tooltip-container .tooltip-box {
  visibility: visible;
  opacity: 1;
}

/* Search bar */

#search-field {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-container {
  position: relative;
}

.search-input {
  width: 15rem;
  height: 2rem;
  border: solid 1px rgba(129, 133, 137, 0.6);
  border-radius: 5px; 
  padding: 9px 25px 9px 40px;
  font-size: 0.9rem;
  outline: none;
  box-sizing: border-box;
  background-color: inherit;
  margin: 0 auto;
}

.search-input::placeholder {
  font-weight: bold;
  color: #8a8e9d;
}

.search-icon-button {
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  width: 2em; /* Adjust as needed */
  height: 2em; /* Adjust as needed */
  border-radius: 50%;
  transition: background-color 0.25s;
  position: absolute;
  top: 0;
  right: 4px;
}

.search-icon-button:hover {
  background-color: rgba(100, 108, 255, 0.2); /* Circular aura effect */
}

.search-icon-button svg {
  fill: #747bff; /* Icon color */
  opacity: 0.5;
}

/* Specific styles for the clear search button */
.search-clear-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 2em; /* Adjust as needed */
  height: 2em; /* Adjust as needed */
  border-radius: 50%;
  transition: background-color 0.25s;
  position: absolute;
  top: 0;
  left: 4px;
}

.search-clear-button:hover {
  background-color: rgba(142, 147, 238, 0.2); /* Circular aura effect */
}

.search-clear-button svg {
  fill: #f9f9f9; /* Icon color */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  .nav-bar {
    background-color: rgb(230, 240, 249);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .search-icon-button img {
    src: url('https://static-assets.codecademy.com/Courses/Learn-Redux/Recipes-App/icons/search.svg');
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: rgba(33, 53, 71, 1);
  }
  .nav-bar {
    background-color: rgba(33, 53, 71, 1);
  }
  a:hover {
    color: #8e93ee;
  }
  button {
    background-color: #1a1a1a;
  }
  .search-icon-button img {
    src: url('/frontend/src/assets/Search\ White\ Icon.svg');
  }

  .search-clear-button img {
    src: url('/frontend/src/assets/Close\ White\ Icon.svg');
  }
}